.header{
    display: flex;
    justify-content: flex-end;
}
.cart {
    display: relative;
    padding: 5px;
}

.cart-items {
    width: 250px;
    height: max-content;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 25px;
    right: 10px;
    padding: 20px;
    list-style-type: none;
    overflow-y: auto;
    z-index: 10;
}